packaging_format = 2

id = "matomo"
name = "Matomo"
description.en = "Open source analytics platform for measuring Web statistics"
description.fr = "Plateforme d'analyse open source de mesure de statistiques Web"

version = "4.13.3~ynh1"

maintainers = ["Anmol Sharma"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://matomo.org"
demo = "https://demo.matomo.org"
admindoc = "https://matomo.org/docs"
code = "https://github.com/matomo-org/matomo"

[integration]
yunohost = ">= 11.1.15"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/matomo"

    [install.init_main_permission]
    help.en = "If enabled, Matomo will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Matomo sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://builds.matomo.org/matomo-4.13.3.tar.gz"
        sha256 = "d7bcb4c45cba69afd9c849bd554bc88b8fc6971769c1f5aff997623bac05e0ac"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server php8.1-curl php8.1-gd php8.1-cli php8.1-mysql php8.1-xml php8.1-mbstring"

    [resources.database]
    type = "mysql"