#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "matomo"
name = "Matomo"
description.en = "Analytics platform for measuring Web statistics"
description.fr = "Plateforme d'analyse de mesure de statistiques Web"

version = "5.7.0~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-or-later"
website = "https://matomo.org"
demo = "https://demo.matomo.org"
admindoc = "https://matomo.org/docs"
code = "https://github.com/matomo-org/matomo"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "200M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/matomo"

    [install.init_main_permission]
    help.en = "If visitors enabled, Matomo will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si visiteurs est cochée, Matomo sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/matomo-org/matomo/releases/download/5.7.0/matomo-5.7.0.tar.gz"
    sha256 = "c273a1d7f67477d96a5e462477fd23d97ae902eb256665a2e727f106d9546089"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^matomo-.*tar.gz$"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.4-curl, php8.4-gd, php8.4-cli, php8.4-mysql, php8.4-xml, php8.4-mbstring"

    [resources.database]
    type = "mysql"
